/*  1. Copy and paste index.css contents
    2. Place asterisk besides the class styles that are changed
    3. ???
    4. Profit
*/

@media (max-width: 420px) {

  @keyframes pulseHeader {
    from{
      letter-spacing: 5px;
      text-shadow: 0px 0px 0px darkslategray;
    }
    to {
      letter-spacing: 6.5px;
      text-shadow: -2.5px 4px 10px black;
    }
  }

  .header-container .pulse {
    animation-name: pulseHeader;
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .about-me-filter {
    opacity: .4;
    min-width: 73.375%;
    min-height: 72.33%;
    position: absolute;
    z-index: -400;
    background: linear-gradient(135deg, darkslategray 5%, black 30% );
    margin: -2px 0 0 -3.5px;
  }

  .about-me-left-col {
    background: transparent;
    padding: 0;
    min-height: 60vh;
    text-align: right;
    margin: 2.5vh 2%;
    z-index: 500;
    border: 15px inset #6582a3;
  }

  .about-me-right-col {
    padding: 10px;
    margin: 0 0 0 2.25vw;
    z-index: 500;
    border-left: 1.5px solid black;
  }

  .about-me-view {
    background: transparent;
    border: 17.5px outset ghostwhite;
    max-width: 75%;
    margin: 0 0 0 12.5%;
  }

  .App { /* mobile */
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
  }

  .App header { /* mobile */
    font-size: 9vw;
    letter-spacing: 7.5px;
    line-height: 9vw;
    font-family: "Work Sans";
    font-weight: 200;
    color: ghostwhite;
    text-shadow:  -2px 1px 5px black;
    min-width: 80vw;
    max-width: 80vw;
    margin: 0 10vw;
  }

  .App .header-container { /* mobile */
    cursor: pointer;
    min-height: 12.5vh;
    height: 12.5vh;
    padding: 5vh 0 0 0;
    position: absolute;
    margin: 0 0 1% 0;
    top: 0;
  }

  .audioContainer {
    opacity: 0;
    position: absolute;
    z-index: -3000;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(135deg,#6486ba 25%, #87CEEB 70%, #425c84);
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
    overflow: hidden;
  }



  .body-filter { /* mobile */
    min-height: 100vh;
    position: absolute;
    min-width: 100vw;
    z-index: -2000;
    opacity: 0;
    background: #2ea045;
    overflow: hidden;
  }

  .card {
    margin: 2.5% 0;
    z-index: 500;
    position: absolute;
    width: 70%;
    height: 80%;
    background: transparent;
    border: 10px inset #6582a3;
  }


  .card .card-text {
    font-size: 1.45vw;
    text-align: left;
    letter-spacing: .0125vw;
    color: white;
    font-weight: 200;
    font-family: "Work Sans";
    padding: 2vh 2vw;
  }

  .card .card-title {
    font-size: 2.75vw;
    line-height: 2.75vw;
    letter-spacing: .2vw;
    font-family: "Work Sans";
    font-weight: 200;
    color: white;
    font-feature-settings: "kern" off;
    font-kerning: none;
  }

  .card-close-button {
    position: absolute;
    top: 5%;
    margin: 0 0 0 27.5%;
    width: 18.5%;
    height: 60px;
    font-size: 1.5vw;
    letter-spacing: .15vw;
    font-weight: 300;
    font-family: "Segoe UI", sans-serif;
    border: 5px outset #6582a3;
    background: transparent;
    padding: 0;
    z-index: 100;
  }

  .card-close-button:hover {
    border: 7.5px inset #6582a3;
    background: transparent;
  }

  #contactForm { /* mobile */
    max-width: 90vw;
    margin: 5vh auto;
    border: 12.5px white;
    border-style: ridge;
  }

  #contactForm .modal-content {
    background: transparent;
  }

  #contactForm .modal-content .contact-form-close-button { /* mobile */
    font-size: 8.5vw;
    margin: 0px 0 0 87.5%;
    position: absolute;
    text-align: right;
    z-index: 500;
    color: white;
    text-shadow: 0px 0px 10px red;
    opacity: .8;
  }

  #contactForm .modal-content .contact-form-close-button:hover {
    color: red;
    text-shadow: 0px 0px 0px red;
  }

  #contactForm .modal-content .contact-form-header {
    z-index: 400;
  }

  #contactForm .modal-content .contact-form-header .modal-title{ /* mobile */
    text-align: right;
    font-size: 4.25vw;
    line-height: 2.25vw;
    margin: 0 auto;
    color: white;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-shadow: 0px 1px 2.5px black;
  }

  #contactForm .modal-content .modal-body {
    z-index: 300;
  }

  #contactForm .modal-content .modal-body form .contact-form-col .form-group .form-control{ /* mobile */
    background: transparent;
    border: 5px inset white;
    color: white;
    font-size: 3.25vw;
    letter-spacing: .9px;
    text-align: center;
    text-shadow: 0px 1px 2.5px black;
  }

  #contactForm .modal-content .modal-body form .contact-form-col .form-group .form-control:focus {
    background: darkgray;
  }

  #contactForm .modal-content .modal-body form .contact-form-col .form-group { /* mobile */
    margin: 0 0 2vh 0;
  }

  #contactForm .modal-content .modal-body form .contact-form-col .form-group input {
    line-height: 1.2vw;
    min-height: 6vh;
  }

  #contactForm .modal-content .modal-body form .contact-form-col .form-group input::placeholder{
    z-index: 500;
    color: white;
    text-shadow: 0px 1px 2.5px black;

  }

  #contactForm .modal-content .modal-body form .contact-form-col .form-group textarea{
    padding: 10px 0;
    min-height: 25vh;
    color: white;
  }

  #contactForm .modal-content .modal-body form .contact-form-col .form-group textarea:focus {
    text-align: left;
    padding: 2px;
  }

  #contactForm .modal-content .modal-body form .contact-form-col .form-group textarea::placeholder {
    color: white;
    text-shadow: 0px 1px 2.5px black;

  }

  #contactFormSubmitButton { /* mobile */
    border: 5px outset #7a8aa8;
    background: transparent;
    font-size: 5.5vw;
    font-weight: 100;
    letter-spacing: 5px;
    margin: 1.25vh 0 1.75vh 0;
    min-height: 50px;
    min-width: 60vw;
    text-shadow: 0px 1px 2.5px black;
  }

  .contact-form-filter {
    background: linear-gradient(30deg, #7a8aa8 0%, #6b8ba8 50%, #6582a3 100%);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    opacity: .9;
    z-index: 200;
  }

  .contact-modal-button { /* mobile */
    background: transparent;
    border: 10px outset white;
    box-shadow: 0px 0px 7.5px 3px cadetblue;
    color: ghostwhite;
    font-size: 5vw;
    font-weight: 200;
    letter-spacing: 4px;
    line-height: 5vw;
    margin: 1vh 0;
    min-height: 10vh;
    min-width: 80%;
    text-shadow: -4px 1px 6px black;
  }

  .contact-modal-button:hover {
    background: #6b8ba8;
    border: 20px inset white;
    box-shadow: none;

  }

  .contact-view{  /* mobile */
    background: transparent;
    min-height: 77.5vh;
    max-height: 70vh;
    margin: 12.5vh 0 0 0;
    overflow-y: scroll;
  }

  .contact-view .contact-filter { /* mobile */
    position: absolute;
    min-height: 77.5vh;
    min-width: 84.68%;
    opacity: .4;
    margin: 0 0 0 8.415%;
    background: linear-gradient(135deg, darkslategray 5%, black 30% );
  }

  .contact-view .container {
    border: 7.5px white;
    border-style: ridge;
    padding: 0;
    z-index: 100;
    box-shadow: 0px 2.5px 7.5px 2px  #6b8ba8;
  }

  .contact-view .container .content{
    min-height: 50vh;
    margin: 0;
    padding: 0;
    background: transparent;
  }

  .contact-view .container .content .left { /* mobile */
    padding: .25vh 2.5% 2vh 2.5%;
    margin-top: 2.5vh;
    max-height: fit-content;
    border-left: 2.5px white;
    border-left-style: ridge;
    border-right: 2.5px white;
    border-right-style: ridge;
  }

  .contact-view .container .content .left p  { /* mobile */
    margin: 0;
    color: white;
    font-weight: 200;
    font-size: 3.75vw;
    letter-spacing: 1.25px;
    padding: 1% 0 2% 0;
    border-bottom-width: 10px;
    border-bottom-style: double;
    border-color: #909ba8;
    border-image-slice: 1;
    text-shadow: -2px 1px 4px black;
    letter-spacing: 2px;
    word-wrap: break-word;
  }

  .contact-view .container .content .right { /* mobile */
    padding: 1.5vh 0 0 0 ;
    max-height: fit-content;
  }

  .contact-view .container .header { /* mobile */
    background: transparent;
    margin: 0vh auto;
    max-width: fit-content;
    text-align: center;
    min-height: 8vh;
    min-width: 100%;
  }

  .contact-view .container .header p { /* mobile */
    border-bottom: 2.5px white;
    border-bottom-style: ridge;
    color: white;
    font-family: "Work Sans";
    font-size: 8.5vw;
    font-weight: 200;
    letter-spacing: 2.5px;
    line-height: 5vw;
    margin: 2.5vh auto 0 auto;
    min-width: fit-content;
    max-width: fit-content;
    padding: .5% 2.5%;
    text-shadow: -3px 1px 5px black;
  }

  .contact-view .container .blob { /* mobile */
    padding: 0;
    text-align: center;
    font-weight: 200;
    font-size: 4.15vw;
    line-height: 4.25vw;
    color: white;
    text-shadow: -3px 1px 5px black;
    letter-spacing: 1.25px;
  }

  .default-view-container {
    margin-top: 25vh;
  }

  .grid-button{
    background: transparent;
    border: 7.5px outset #6582a3;
    height: 8vh;
    font-size: 1.6vw;
    font-weight: 200;
    font-family: "Work Sans", sans-serif;
    line-height: 1.65vw;
    padding: 0 25px;
    letter-spacing: 1.5px;
    text-shadow: 3px 1px 3px black;
    vertical-align: top;
    width: 18.5%;
    z-index: 100;
    /*
      min-width: -------------
      max-width:
      width:       Set in component
      margin:         render
      min-height:
      max-height:
      visibility:_____________
    */
  }

  .grid-button:hover {
    background: transparent;
    text-shadow: 0px 0px 2.5px ghostwhite;
    border: 5px inset ghostwhite;
  }

  .grid-filter{ /* mobile */
    min-width: 100%;
    min-height: 125vh;
    position: absolute;
    background: linear-gradient(135deg, darkslategray 5%, black 30% );
    opacity: .45;
    z-index: -100;
    margin: -2.5vh;
  }

  .main-row {
    margin: 0;
    display: contents ;
  }

  .main-row-col {
    float: left;
    padding: 0;
    color: black;
    margin-bottom: 2.5vh;
    box-shadow: 2px 2px 7px 1px #98a9bc;
    border-radius: .75%;
  }

  .main-row-col-filter{
    border: 1px solid white;
    border-radius: .75%;
    margin-bottom: 2.5vh;
    height: 100%;
    opacity: .6;
    height: 10.75vh;
    z-index: -1000;
    background: linear-gradient(-120deg, #7a8aa8 0%, #6b8ba8 50%, #4f657f 100%);
    transition: .5s ease-in-out;
  }

  .main-row-col button {
    background: transparent;
    border-radius: 0;
    border: 7.5px outset;
    border-image: linear-gradient(10deg, #6f7e99 0%, #6185a0 50%, #6582a3 100%);
    border-image-slice: 1;
    height: 10.75vh;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }

  .main-row-col button:hover {
    background: transparent;
    border: 7.5px outset;
    border-image: linear-gradient(10deg, #6f7e99 0%, #6185a0 50%, #6582a3 100%);
    border-image-slice: 1;
  }

  .main-row-col:hover + .main-row-col-filter {
    opacity: .9;
  }

  .main-row-col button p {
    font-size: 8vw;
    padding: 15px;
    line-height: 8vw;
    letter-spacing: 2.5px;
    font-family: "Work Sans", serif;
    font-weight: 200;
    text-shadow: -2.5px -1px 5px black;
  }

  .profile-image{
    min-width: 80%;
    max-width: 80%;
    border: 25px inset #6582a3;
    margin: 0 auto;
    z-index: 1000;
  }

  .profile-image-container {
    margin: 0;
    min-height: 35vh ;
    min-width: 100%;
    padding: 25px;
  }

  .project-card {
    margin: 2.5% 0;
    z-index: 500;
    position: absolute;
    width: 70%;
    height: 80%;
    background: transparent;
    border: 10px inset #6582a3;
  }

  .projects-grid { /* mobile */
    border: 17.5px outset white;
    padding: 2.5vh 2.5vw;
    height: 85vh;
    min-height: 85vh;
    max-height: 85vh;
    margin-top: 12.5vh;
    overflow-y: scroll;
  }

  .projects-grid > ::-webkit-scrollbar { /* mobile */
    display: none;
  }

  .projects-row {
    margin: 0;
  }

  .projects-row button{
    background: transparent;
    border: 5px outset ghostwhite;
    font-size: 5vw;
    font-weight: 100;
    letter-spacing: 1.5px;
    text-shadow: -1px 1px 7.5px black;
  }

  #projectModal{
    margin: 5vh 0;
    min-height: 70vh;
  }

.project-modal-close-button {
  text-align: right;
  max-width: fit-content;
  margin: 0vh 7.5vw 1vh auto;
  font-size: 12vw;
  line-height: 12vw;
}

#projectModal > .modal-content .modal-header {
  padding: 0;
  min-width: fit-content;
  max-width: fit-content;
  width: fit-content;
  margin: .25vh auto .75vh auto;
}

  #projectModal > .modal-content .modal-header .modal-title {
    text-align: center;
    font-size: 10vw;
  }

  #projectModal > .modal-content .modal-body {
    min-height: 74.5vh;
  }

  #root {
    min-height: -webkit-fill-available;
    padding: 0;
    margin: 0;
  }

  .section-content {
    padding: 0 20px;
  }

  .section-content h4 {
    font-family: "Work Sans";
    padding: 15px 5px 2.5px 15px;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 2.25px;
    max-width: fit-content;
    color: ghostwhite;
    font-feature-settings: "pcap";
    margin: 10px 5% 0px auto;
    min-height: fit-content;
    max-height: 10vh;
    text-shadow: 3px 2px 7.5px black;
    border-bottom: 3.5px ridge #6582a3;
  }

  .section-content p {
    color: ghostwhite;
    font-weight: 400;
    font-size: 1.1vw;
    letter-spacing: 1.8px;
    font-feature-settings: "kern" off;
    font-kerning: none;
    margin: 3.5vh .5vw 1.5vh .5vw;
    line-height: 1.65vw;
    min-height: 34vh;
    padding: 2.55vh 1.5vw 2.55vh 2vw;
    text-align: left;
    text-indent: 30px;
    text-shadow: -3.5px 1.5px 4px black;
    border: 10px ridge ghostwhite;
  }

  .section-option, .section-option button {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: .9px;
    font-variant: petite-caps;
    background-color: transparent;
    border-radius: 0;
    min-width: 89%;
    margin: 0 auto;
  }

  .section-option button {
    padding: 0;
    font-size: 1.3vw;
    letter-spacing: 2.25px;
    box-shadow: 2px 2px 3px 0.25px black;
    border: 5px outset #6582a3;
    transition: .3s linear;
  }

  .section-option button:hover {
    background-color: transparent;
    border: 7.5px inset ghostwhite;
  }


  .section-options-container {
    margin: 0;
    min-height: 35vh;
    padding: .5vh 0 0 0;
  }

  .section-tabs{
    border: none;
    text-align: right;
    display: inline-block;
  }

  .section-tabs > .nav-item {
    margin: 0 0 0px 15px;
    background: transparent;
    border: 5px inset #6582a3;
    color: white;
    display: inline-block;
    float: none;
    font-size: 18px;
    font-feature-settings: "pcap", "c2pc";
    font-variant: all-petite-caps;
    font-weight: 300;
    letter-spacing: 1.1px;
    margin-bottom: 0;
    text-shadow: 3.5px 1.5px 4px black;
    zoom: 1;
    transition: .2s ease-in-out;
  }

  .section-tabs > .nav-item:hover {
    border: 5px outset #6582a3;
  }

  .section-tabs > .nav-item:hover > a {
    border: none;
    padding: 0.5rem 1rem;
    margin: 1px;
    cursor: pointer;
  }

  .section-tabs-container {
    display: inline-block;
    min-width: 90%;
    padding: 10px 0 0 0;
    margin: 0px 30px 0 1.25vw;
    border-bottom: 15px #6582a3;
    border-bottom-style: ridge;
  }

  .skill-grid {
    border: 17.5px outset white;
    padding: 2.5vh 2.5vw;
  }

  .skill-grid-row {
    padding: 0 1%;
  }

  .skill-grid-row .grid-button{
    font-size: 1.4vw;
    line-height: 1.5vw;
    min-height: 9vh;
    max-height: fit-content;
    padding: 2.5px 5px;
    letter-spacing: 1px;
    text-shadow: -1.5px .75px 2.5px black;
  }

  .skill-grid-button:hover {
    background: transparent;
    text-shadow: 0px 0px 2.5px ghostwhite;
    border-color: ghostwhite;
    transition: .45s linear;
  }

  .skill-grid-button.btn-secondary:not(:disabled):not(.disabled).active {
    background: transparent;
    border: 10px outset #6582a3;
    letter-spacing: 1px;
    position: absolute;
    margin: 0 0 0 77.5%;
    top: 20px;
    text-shadow: 0px 0px 2.5px ghostwhite;
    transition-delay: .5s;
    transition: 1s ease-in-out;
  }

  .skill-grid-button.hidden {
    opacity: 0;
  }

  .skillset-view-container {
    padding: 2.5vh 0 7.5vh 0;
  }

}
